
.App {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

<<<<<<< HEAD

=======
>>>>>>> 9dae341 (fix: updated code and added react-icons fix)
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🚚 Moving Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
<<<<<<< HEAD
}
=======
}
>>>>>>> 9dae341 (fix: updated code and added react-icons fix)
